// Navigation code here
.nav-container {
  @media @phone {
    width: 100%;
    left: 0%;
    h1 {
      color: gainsboro;
    }
  }
  width: 53%;
  height: 13vh;
  position: fixed;
  left: 23.5%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  text-align: center;
  h1 {
    font-size: 4rem;
    color: gainsboro;
  }
  nav {
    @media @phone {
      .custom-flex(row, space-between, center);
      width: 90%;
    }
    width: 100%;

    margin: 20px auto;

    .custom-flex(row, space-evenly, center);
    a {
      text-decoration: none;
      font-size: 1.8rem;
      color: white;
    }
  }
}
.top-header {
  @media @phone {
    width: 100%;
    height: 20vh;
    margin-top: 125px;
    img {
      width: 100%;
    }
  }

  margin: 0 auto;
  height: 45vh;
  width: 53%;

  .custom-flex(column, flex-start, center);
  img {
    @media @phone {
      height: 120px;
      margin: 0;
      position: relative;

      z-index: -1;
    }
    border-radius: 2%;
    margin-top: 20vh;
  }
}
